.img-thumbnails {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dddfeb;
    border-radius: .35rem;
    max-width: 100%;
    height: 100px;
}

.dropzone {
    border: 2px dashed #0087F7;
    /* padding-block: 100px; */
}